@{
    ViewData["Title"] = "Biblioteca - Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a la Biblioteca!</h1>
    <p>Explora nuestra colección de libros y descubre mundos fascinantes.</p>
    <p>¿Te gustaría comenzar tu aventura de lectura? Visita la sección de <a href="/Libros/Index">Libros</a>.</p>
</div>
